.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  .item {
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    position: relative;
    background-color: #ffffff;
    border-radius: 1rem;
    .title {
      font-size: 2rem;
    }
    .date {
      text-align: right;
      font-size: 1.2rem;
    }
    .link {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
    }
  }
}
