.form {
  &__item {
    margin: 0 auto 2rem;
    display: flex;
    flex-direction: column;
    .label {
      padding: 0 0 0.5rem;
    }
    .input,
    .textarea {
      padding: 0.5rem;
    }
  }
}
