.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .title_en {
    margin: 0 auto 1rem;
    font-size: 2rem;
    text-align: center;
  }
  .title_ja {
    font-size: 1rem;
    text-align: center;
  }
  .profile_image {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .array {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .label {
      font-size: 0.1rem;
      font-weight: bold;
    }
    &::after {
      content: '';
      background-color: #ffffff;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      transform: translateY(-1.5rem);
      z-index: -1;
    }
    &__right {
      right: 0;
      transform: translate(-1rem, -20%);
    }
    &__left {
      left: 0;
      transform: translate(1rem, -20%);
    }
  }
}
