.history {
  .item {
    margin: 0 0 2.8rem;
    .term {
      font-size: 1.8rem;
      font-weight: bold;
      margin: 0 0 1rem;
    }
    .content,
    .skill {
      padding: 0 0 0 2rem;
    }
  }
}