@import "_variables";
.section {
  margin: 0 0 5rem;
  .title {
    margin: 0 0 3rem;
    text-align: center;
    font-size: 2.5rem;
  }
  .summary {
    text-align: justify;
    line-height: 1.5;
  }
}