@import "variables";

.nav {
  margin: 0 auto 3rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  .item {
    position: relative;
    width: $container-width / 2.2;
    max-width: 42vw;
    margin: 1rem 0.1rem;
    max-height: 25vw;
    background-color: #ffffff;
    border-radius: 1rem;
    overflow: hidden;
    .imagewrapper {
      display: flex;
      max-height: 10vw;
      overflow: hidden;
      .image {
        object-fit: cover;
        width: 100%;
      }
    }
    .contents {
      width: 100%;
      padding: 1rem;
      .title {
        display: inline-block;
        font-size: 1.8rem;
      }
      .date {
        text-align: right;
      }
    }
    .link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.drawing {
  .lists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 90vw;
    max-width: $container-width - 2rem;
    margin: 0 auto;
    .item {
      padding: 0.5rem;
      height: (90vw) / 3;
      width: (90vw) / 3;
      max-height: ($container-width -  2rem) / 3;
      max-width: ($container-width - 2rem) / 3;
      .image {
        position: relative;
        height: 100%;
        width: 100%;
      }
      .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}