@import "variables";
html,
body {
  font-size: 62.5%;
  background-color: $page-background;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;
  * {
    color: #333;
  }
  img {
    object-fit: contain;
    max-width: 100%;
  }
  button {
    cursor: pointer;
  }
  p,
  th,
  td,
  li,
  label,
  input,
  textarea,
  button {
    font-size: 1.6rem;
  }
  p {
    margin-bottom: 1rem;
    line-height: 1.8;
  }
  a {
    text-decoration: none;
  }
  ol {
    list-style-type: decimal;
  }
  .container {
    max-width: $container-width;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
}