@import "_variables";
.topics {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  .topic {
    padding: 0.1rem 0.5rem;
    margin: 0.2rem 0.5rem;
    color: #ffffff;
    background-color: $topics-color;
    border-radius: 0.3rem;
    font-size: 1.2rem;
  }
}