@import "_variables";
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    .item {
      padding: 0.5rem 1rem;
      margin: 0.2rem 0.4rem 0.2rem 0;
      color: #ffffff;
      background-color: $topics-color;
      border-radius: 0.3rem;
      font-size: 1.2rem;
    }
  }
}
.leftWrapper {
  justify-content: flex-start;
  .list {
    margin: 0;
  }
}